@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);
  --clr-dark-blue: hsl(234, 12%, 34%);
  --clr-grayish-blue: hsl(229, 6%, 66%);
  --clr-light-gray: hsl(0, 0%, 98%);

  --ff-base: "Poppins", sans-serif;

  --fw-extra-light: 200;
  --fw-regular: 400;
  --fw-semi-bold: 600;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* p {
  text-wrap: pretty;
} */
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* style */

.page {
  font-family: var(--ff-base);
  font-size: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  --content-padding: 2rem;

  padding: var(--content-padding);
}

.section {
  max-width: 311px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 76px;
}

.section__text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section__title {
  color: var(--clr-dark-blue);
  font-weight: var(--fw-extra-light);
  font-size: 1.5rem;
  letter-spacing: 0.17px;
  /* margin-bottom: 1px; */
}

.section__subtitle {
  color: var(--clr-dark-blue);
  font-weight: var(--fw-semi-bold);
  font-size: 1.5rem;
  letter-spacing: 0.17px;
}

.section__desc {
  color: var(--clr-dark-blue);
  line-height: 25px;
  letter-spacing: 0.1px;
  opacity: 50%;
}

.section__cards {
  display: grid;
  row-gap: 25px;
}

.section__card {
  --section-card-padding: 28px;

  max-height: 222px;
  border-radius: 8px;
  padding: var(--section-card-padding);
  box-shadow: 0 15px 30px rgba(131, 166, 210, 0.5);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 33px;
}

.section__card-title {
  font-weight: var(--fw-semi-bold);
  font-size: 20px;
}

.section__card-desc {
  color: var(--clr-dark-blue);
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.09px;
  opacity: 50%;
}

.section__card-media {
  align-self: flex-end;
}

.section__card-img {
  width: 57px;
  height: 57px;
}


.section__card--cyan {
  border-top: 3.55px solid var(--clr-cyan);
}

.section__card--red {
  border-top: 3.55px solid var(--clr-red);
}

.section__card--orange {
  border-top: 3.55px solid var(--clr-orange);
}

.section__card--blue {
  border-top: 3.55px solid var(--clr-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 60rem) {
  .page {
    height: 100vh;
  }

  .section {
    max-width: 1110px;
    gap: 64px;
  }

  .section__text {
    max-width: 540px;
  }

  .section__title,
  .section__subtitle {
    font-size: 36px;
    letter-spacing: 0.25px;
  }

  .section__cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    /* grid-template-areas: 
    "card1 card2 card4"
    "card1 card3 card4"; */
  }

  .section__card {
    max-width: 350px;
    max-height: 250px;
    padding: 2rem;
    gap: 40px;
  }

  .section__card-title {
    margin-bottom: 6px;
  }

  .section__card-img {
    width: 64px;
    height: 64px;
  }

  .section__card--area1 {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    align-self: center;
  }

  .section__card--area2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .section__card--area3 {
    grid-column: 2 / 3;
    grid-row: 2 / -1;
  }

  .section__card--area4 {
    grid-column: 3 / -1;
    grid-row: 1 / -1;
    align-self: center;
  }
}